---
layout: default
---
<!-- Posts -->

<ul id="posts" style="width: 100%;">
	{% for post in paginator.posts %}
		<a  href="{% if site.baseurl == '/' %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
		<div style="width: 100%; margin: 0.3rem; padding: 0.5rem; display: flex; justify-content: left; align-items: center;" class="thumbnail post">
			<img src="{{ site.baseurl }}/img/covers/{{ post.title }}.jpg" alt="cover" style="width: 20%; border-radius: 5%; margin-right: 4%;">
			<div style="display: flex; flex-direction: column;">
				<h4>{{ post.title }}</h4>
				<p style="font-weight: normal;">{{ post.date | date_to_string }}</p>
			</div>
		</div>
		</a>
    {% endfor %}

</ul>
