.post {
  border: 0.81px solid rgba(0,0,0,0.4);
  border-radius: 1rem;
}

#post-page time {
  color: black;
}

.code {
  border-radius: 1rem;
  border: 1px solid rgba(0,0,0,0.3);
  padding: 0.31rem;
  font-size: 1.32rem;
}
